.appsettings_container {
    border-radius: 60px 60px 0px 0px;
    background-color: white;
    height: 100%;
    margin-top: 90px;
    position: fixed;
    width: 100%;
    box-shadow: rgb(0 0 0 / 45%) 0px 50px 71px 0px;
}

div.top {
    display: flex;
    align-items: center;
    padding-top: 25px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    margin-top: 0;
    text-align: center;
    width: 80%;
}

.back_arrow {
    width: 20px;
    padding-bottom: 25px;
    vertical-align: middle;
}

.settings_btn {
    display: flex;
    flex-direction: column;
}

.one_btn a {
    color: black;
}

.one_btn img {
    margin-right: 20px;
    margin-left: 20px;
}

.one_btn {
    background-color: white;
    box-shadow: rgb(0 0 0 / 15%) 0px 0px 15px;
    padding: 20px 0px;
    margin-bottom: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.btn-center {
    display: flex;
    justify-content: center;
}

div.container {
    position: fixed;
    bottom: 110px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.logout-btn {
    color: red;
    position: fixed;
    bottom: 100px;
}

::-webkit-scrollbar {
    display: none;
}