h1 {
    width: 80%;
    text-align: center;
}

.back_arrow {
    width: 20px;
    padding-left: 30px;
    vertical-align: middle;
}

.containter_appsettings {
    padding-top: 100px;
    display: flex;
    align-items: center;
}

.btn {
    top: 40px;
    position: relative;
}
.btn a{
    color: white;
}

.btn:hover {
    font-weight: bold;
    color: white;
}