.collection_container {
    border-radius: 60px 60px 0px 0px;
    background-color: white;
    height: 100%;
    margin-top: 110px;
    position: fixed;
    width: 100%;
    box-shadow: rgb(0 0 0 / 45%) 0px 50px 71px 0px;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: 60%;
    z-index: 25;
    border-radius: 20px;
}

.card_name-modal {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.card_img_big {
    width: 70%;
    display: flex;
    /* justify-content: center; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.modal_price {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

/* The Close Button */
.close {
    color: black;
    /* float: right; */
    font-size: 28px;
    /* font-weight: bold; */
    background-color: white;
    box-shadow: rgb(0 0 0 / 15%) 0px 0px 15px;
    padding: 0px 10px;
    border-radius: 7px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

div.top {
    display: flex;
    align-items: center;
    padding-top: 25px;
    justify-content: space-between;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    margin-top: 0;
    text-align: center;
    text-transform: capitalize;
    z-index: -1;
}

.back_arrow {
    width: 20px;
    padding-bottom: 25px;
    vertical-align: middle;
}

.edit_icon {
    width: 23px;
    vertical-align: middle;
    position: relative;
    top: -10px;
    z-index: -1;
}

.search {
    display: flex;
    top: 85px;
    position: relative;
    justify-content: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.form_input {
    display: block;
    box-shadow: rgb(50 50 93 / 25%) 1px 1px 8px 0px inset;
    border: none;
    padding: 0.9rem 0.05rem 0.9rem 0.9rem;
    border-radius: 0.45rem;
    width: 75%;
    font-family: "futuraPT medium";
    font-size: 0.9em;
}

.search_btn {
    width: 30px;
}

p {
    margin: 0;
    z-index: -1;
}

.visibility {
    text-align: center;
    margin-bottom: 15px;
    color: #615F5F;
}

.collection-flex {
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.coll_info-background {
    background-color: white;
    box-shadow: rgb(0 0 0 / 10%) 0px 25px 35px;
}

.collection_column {
    display: flex;
    flex-direction: column;
    z-index: -1;
}

.info_icon {
    width: 15px;
    vertical-align: middle;
    margin-left: 20px;
    opacity: 70%;
}
.card_name{
    width: 100px;
}
.price_name{
    width: 65px;
}

.price_inline {
    display: inline-flex;
}

.premium-only_text {
    color: #615F5F;
}

.empty_state {
    opacity: 40%;
    position: relative;
    top: 40px;
    z-index: -1;
}

.empty_state_img {
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.empty_state_text {
    text-align: center;
    font-size: 7vw;
    font-weight: bolder;
    width: 270px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.btn-add_card {
    position: fixed;
    right: 20px;
    bottom: 100px;
    z-index: 1;
}

.card_info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    box-shadow: rgb(0 0 0 / 15%) 0px 0px 15px;
    margin-bottom: 10px;
    padding: 6px 0;
    border-radius: 10px;
    top: 20px;
    position: relative;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    z-index: 0;
}

.card_img {
    width: 10%;
}

.bin_icon {
    width: 27px;
}

.card_scroll {
    position: relative;
    height: 45%;
    overflow: hidden;
    overflow-y: scroll;
    top: -9px;
    z-index: -1;

}

.hidden_block {
    text-align: center;
    padding: 45px;
    opacity: 0;
}

::-webkit-scrollbar {
    display: none;
}