.collection_container {
    border-radius: 60px 60px 0px 0px;
    background-color: white;
    height: 100%;
    margin-top: 110px;
    position: fixed;
    width: 100%;
    box-shadow: rgb(0 0 0 / 45%) 0px 50px 71px 0px;
}

div.top {
    display: flex;
    align-items: center;
    padding-top: 25px;
    justify-content: space-between;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    margin-top: 0;
    text-align: center;
    text-transform: capitalize;
}

.back_arrow {
    width: 20px;
    padding-bottom: 25px;
    vertical-align: middle;
}

.edit_icon {
    width: 23px;
    vertical-align: middle;
    position: relative;
    top: -10px;
}

.form_input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    top: 85px;
    position: relative;
    box-shadow: rgb(50 50 93 / 25%) 1px 1px 8px 0px inset;
    border: none;
    padding: 0.9rem 0.05rem 0.9rem 0.9rem;
    border-radius: 0.45rem;
    width: 80%;
    font-family: "futuraPT medium";
    font-size: 0.9em;
}

.card_input {
    background: url(../assets/search_icon.svg) no-repeat;
    background-position-x: right;
    background-position-y: center;
    background-size: 30px;
    background-color: rgb(255, 255, 255);
}

p {
    margin: 0;
}

.visibility {
    text-align: center;
    margin-bottom: 15px;
}

.collection-flex {
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.coll_info-background{
       background-color: white;
    box-shadow: rgb(0 0 0 / 10%) 0px 25px 35px;
}

.collection_column {
    display: flex;
    flex-direction: column;
}

.info_icon{
    width: 15px;
    vertical-align: middle;
    margin-left: 20px;
    opacity: 70%;
}

.price_inline {
    display: inline-flex;
}
.premium-only_text{
    color: #615F5F;
}

.empty_state {
    opacity: 40%;
    position: relative;
    top: 40px;
    z-index: -1;
}

.empty_state_img {
    width: 180px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.empty_state_text {
    text-align: center;
    font-size: 27px;
    font-weight: bolder;
    width: 220px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.btn-add_card {
    position: fixed;
    right: 20px;
    bottom: 100px;
    z-index: 1;
}

.card_info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    box-shadow: rgb(0 0 0 / 15%) 0px 0px 15px;
    margin-bottom: 10px;
    padding: 6px 0;
    border-radius: 10px;
    top: 20px;
    position: relative;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.card_img {
    width: 10%;
}
.card_name{
    width: 100px;
}

.bin_icon {
    width: 27px;
}

.card_scroll {
    position: relative;
    height: 45%;
    overflow: hidden;
    overflow-y: scroll;
    top: -9px;
    z-index: -1;

}

::-webkit-scrollbar {
    display: none;
}