.collection_container {
    border-radius: 60px 60px 0px 0px;
    background-color: white;
    height: 100%;
    margin-top: 110px;
    position: fixed;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.45) -20px 25px 0px -25px;
}

div.top {
    display: flex;
    align-items: center;
    padding-top: 35px;
    padding-bottom: 15px;
}

h1 {
    margin-top: 0;
    text-align: center;
    width: 80%;
}

.back_arrow {
    width: 20px;
    padding-left: 30px;
    padding-bottom: 25px;
    vertical-align: middle;
}

.form_input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    top: 85px;
    position: relative;
    box-shadow: rgb(50 50 93 / 25%) 1px 1px 9px 2px inset;
    border: none;
    padding: 0.9rem 0.05rem 0.9rem 0.9rem;
    border-radius: 0.45rem;
    width: 75%;
    font-family: "futuraPT medium";
    font-size: 0.9em;
}

.card_input {
    background: url(../assets/search_icon.svg) no-repeat;
    background-position-x: right;
    background-position-y: center;
    background-size: 30px;
    background-color: rgb(255, 255, 255);
}

p {
    margin: 0;
}

.visibility {
    text-align: center;
    margin-bottom: 20px;
}
.collection-flex{
    display: flex;
    justify-content: space-around;
}

.collection_column{
    display: flex;
    flex-direction: column;
}

.price_inline{
    display: inline-flex;
}
.empty_state{
    text-align: center;
    font-size: 27px;
    font-weight: bolder;
    width: 220px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 40%;
    position: relative;
    top: 20px;
}

.btn-add_card {
    position: fixed;
    right: 20px;
    bottom: 50px;
}