body{
    background-image: url(../assets/background_img.png);
    background-repeat: no-repeat;
    background-size: initial;
    background-position-y: -340px;
    background-position-x: -950px;
    background-color: rgba(243, 243, 243, 0.5);
}
.container_header{
    display: flex;
    align-items: center;
    padding: 20px 0px 20px;
    position: fixed;
    width: 100%;
    top: 0px;
    justify-content: space-evenly;
}
.favicon{
    width: 50px;
    float: left;
}
.btn_premium{
    color: #15680F;
    font-family: "apex mk3";
    text-decoration: none;
    vertical-align: middle;
    width: 120px;
    text-align: center;
}
.btn_premium:hover{
    color: #5a9e55;
}
.icon{
    width: 30px;
}