body {
    background-color: white;
}

div.top {
    display: flex;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 15px;
    width: 80%;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
}

.username_title {
    font-family: "futuraPT bold";
    font-size: 2em;
}

.edit-profile_btn {
    color: black;
    font-family: "apex mk3";
    text-decoration: underline;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding-bottom: 30px;
}

.edit_icon {
    width: 20px;
    margin-right: 15px;
}

.profile-picture-big {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 100%;
}

.top_background {
    background-color: white;
    box-shadow: rgb(100 100 111 / 10%) 0px 13px 18px;
}

.collection-text {
    text-decoration: none;
    color: black;

}

.collection-pokemon {
    background-color: #86AACC;
    width: 90%;
    border-radius: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
    padding: 9% 0;
    background-image: url(../assets/collection_card_imgsvg.svg);
    background-repeat: no-repeat;
    background-position-x: -22px;
    background-position-y: 10px;
}

.collection_card_text {
    display: flex;
    align-items: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.coll_title-text {
    width: 90px;
}

p {
    color: white;
    margin: 0;
    font-size: 20px;
    hyphens: auto;
}

.card_icon {
    width: 30px;
    padding-right: 15px;
}

p.collection_title {
    font-family: "apex mk3";
    display: flex;
    align-items: center;
    margin-left: 40%;
}

div.cards_amount {
    display: flex;
    align-items: center;
    flex-direction: column;
}

div.posts_scroll {
    height: 60vh;
    overflow: hidden;
    overflow-y: scroll;
}

.hidden_block{
    padding: 40px;
    opacity: 0;
}

.friendlist_btn img {
    width: 40px;
    border: solid 3px black;
    padding: 10px 15px;
    border-radius: 15px;
    position: fixed;
    bottom: 120;
    bottom: 100px;
    right: 20px;
    box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
    background-color: rgba(255, 255, 255, 0.7);
}

::-webkit-scrollbar {
    display: none;
}