body {
    background-color: white;
}

div.top {
    display: flex;
    align-items: center;
    padding-top: 115px;
    padding-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    margin-top: 0;
    width: 80%;
}

div.profile-box-info {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}


.back_arrow {
    width: 20px;
    padding-left: 30px;
    padding-bottom: 25px;
    vertical-align: middle;
}

a {
    color: black;
}

.profile-picture-big {
    width: 110px;
    height: 110px;
    object-fit: cover;
    border-radius: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.collection-text {
    text-decoration: none;
    color: black;

}

.collection-pokemon {
    background-color: #86AACC;
    width: 90%;
    border-radius: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    padding: 9% 0;
    background-image: url(../assets/collection_card_imgsvg.svg);
    background-repeat: no-repeat;
    background-position-x: -22px;
    background-position-y: 10px;
}

.collection_card_text {
    display: flex;
    align-items: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.coll_title-text {
    width: 90px;
}

p {
    color: white;
    margin: 0;
    font-size: 20px;
    hyphens: auto;
}

.card_icon {
    width: 30px;
    padding-right: 15px;
}

p.collection_title {
    font-family: "apex mk3";
    display: flex;
    align-items: center;
    margin-left: 40%;
}

div.cards_amount {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.collections_scroll {
    height: 60%;
    overflow: hidden;
    overflow-y: scroll;
}

.friendlist_btn img {
    width: 40px;
    border: solid 3px black;
    padding: 10px 15px;
    border-radius: 15px;
    position: fixed;
    bottom: 120;
    bottom: 100px;
    right: 20px;
    box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
    background-color: rgba(255, 255, 255, 0.7);
}

::-webkit-scrollbar {
    display: none;
}