body {
    margin: 0;
}

@font-face {
    font-family: "futuraPT medium";
    src: url(../font/FuturaPTMedium.otf);
}

@font-face {
    font-family: "futuraPT bold";
    src: url(../font/FuturaPTBold.otf);
}

@font-face {
    font-family: "apex mk3";
    src: url(../font/Apex\ Mk3-Medium.otf);
}

body {
    font-family: "futuraPT medium";
}

h1 {
    font-family: "futuraPT bold";
    text-align: center;
}

.btn {
    width: 120px !important;
    font-family: "apex mk3";
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(0deg, rgba(225, 27, 56, 1) 0%, rgba(232, 69, 51, 1) 100%);
    color: white;
    border-radius: 10px;
}

.btn:hover {
    font-weight: bold;
    color: white;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

a {
    text-decoration: none;
}

.button_sec a {
    border: solid 4px red;
    border-radius: 15px;
    padding: 15px 30px;
    font-family: "apex mk3";
    color: black;
    font-size: 1.1rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
img.plus_icon{
    width: 11px;
    padding-right: 7px;
}