.trade_sell_container {
    border-radius: 60px 60px 0px 0px;
    background-color: white;
    height: 100%;
    margin-top: 110px;
    position: fixed;
    width: 100%;
    box-shadow: rgb(0 0 0 / 45%) 0px 50px 71px 0px;
}

.search {
    display: flex;
    top: 85px;
    position: relative;
    justify-content: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.form_input {
    display: block;
    box-shadow: rgb(50 50 93 / 25%) 1px 1px 8px 0px inset;
    border: none;
    padding: 0.9rem 0.05rem 0.9rem 0.9rem;
    border-radius: 0.45rem;
    width: 75%;
    font-family: "futuraPT medium";
    font-size: 0.9em;
}

.search_btn {
    width: 30px;
}

a {
    text-decoration: none;
}

.vl_line {
    border-left: 1.5px solid rgb(0, 0, 0);
    height: 33px;
}

.top_links {
    display: flex;
    width: 70%;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.top_links a {
    text-decoration: none;
    color: #8B8A8A;
    font-family: "apex mk3";
    font-size: 1.25em;
}

.empty_state {
    opacity: 40%;
    position: relative;
    top: 7vh;
    z-index: -1;
}

.empty_state_img {
    width: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.empty_state_text {
    text-align: center;
    font-size: 6vw;
    font-weight: bolder;
    width: 270px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a.friends_link {
    color: red;
}

.btn-collection {
    position: fixed;
    right: 20px;
    bottom: 100px;
}

.btn-collection {
    position: fixed;
    right: 20px;
    bottom: 100px;
}

.btn-collection a {
    color: black;
}

.icon_plus {
    width: 20px;
    padding-right: 7px;
    vertical-align: baseline;
}